[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
black = "*"
mypy = "*"

[packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"
sphinxcontrib-fulltoc = "*"
sphinx-paramlinks = "*"
twine = "*"
pygount = "*"
cached_property = "*"
pywin32 = {version = "==224",os_name = "== 'windows'"}  # temporary to solve issue https://github.com/jupyter/notebook/issues/4909#issuecomment-577656011
jupyterlab = "*"
gitpython = "*"
pyexlatex = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
